## program to print 'hello python 10 times

In [1]:
n='Hello python'
i=1
while i<=10:
    print(i,'\t',n)
    i+=1

1 	 Hello python
2 	 Hello python
3 	 Hello python
4 	 Hello python
5 	 Hello python
6 	 Hello python
7 	 Hello python
8 	 Hello python
9 	 Hello python
10 	 Hello python

## program to print numbers 1-10

In [2]:
i=1
while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

## program to print sum first 10 numbers

In [3]:
i=1
sum=0
while i<=10:
    sum+=i
    print(sum)
    i+=1

1
3
6
10
15
21
28
36
45
55

## program to print sum first 10 numbers

In [4]:
i=1
sum=0
while i<=10:
    sum+=i
    i+=1
print(sum)

55

## program to print n numbers entered by users

In [8]:
n=int(input('Enter a number='))
i=1
while i<=n:
    print(i)
    i+=1

Enter a number=7
1
2
3
4
5
6
7

## program to print sum of first 10 numbers

In [1]:
n=int(input('Enter a number='))
i=1
sum=0
while i<=n:
    sum+=i
    print(sum)
    i+=1

Enter a number=8
1
3
6
10
15
21
28
36

## program to print sum of first 10 numbers

In [3]:
n=int(input('Enter a number='))
i=1
sum=0
while i<=n:
    sum+=i
    i+=1
    print(sum)

Enter a number=8
1
3
6
10
15
21
28
36

## program to print table of number

In [4]:
n=int(input('Enter a number whose table you want to print='))
i=1
while i<=10:
    print(n,'*',i,'=',n*i)
    i+=1

Enter a number whose table you want to print=7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

## program to print factorial of number

In [6]:
n=int(input('Enter a number='))
fact=1
while n>=1:
    fact*=n
    n-=1
    print(fact)

Enter a number=5
5
20
60
120
120

## program to print even number between 1-100

In [ ]:
i=1
print('Even numbers from 1-100 are:')
while i<=100:
    if i%2==0:
        print(i,end=" , ")
    i+=1